* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, Helvetica, Arial,
    sans-serif;
  color: hsl(220, 10%, 20%);
  background-color: hsl(220, 10%, 98%);
}

.App{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  padding: 10px;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.btn {
  border: 1px solid #5e5d5d;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family:Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}